{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Register &middot; WebDev HQ API{% endblock %}

{% block header %}{% endblock %}
{% block content %}
<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-96 mx-auto">
    {% include 'partials/forms/register-form.twig' %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
