{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Forgot Password &middot; WebDev HQ API{% endblock %}

{% block header %}{% endblock %}
{% block body_class %}bg-future-hassaan bg-cover{% endblock %}
{% block content %}
<div class="h-full flex flex-col items-center justify-center text-center">
    {% include 'partials/forms/forgot-password-form.twig' %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
