<div class="w-96 mx-auto mt-16 sm:mt-24 md:mt-36 lg:mt-48 xl:mt-56 lg:w-[700px] p-2 bg-white/30 backdrop-blur rounded-md">
	<div class="bg-white rounded p-3">
		<div class="md:w-48 mx-auto mb-1">
			<h2 class="text-2xl p-2">
				<a href="/" class="flex justify-between space-x-3">
					<img src="./logo.png" alt="WebDev HQ Logo" />
					<span class="font-light flex flex-start">
						<span class="web">Web</span>
						<span class="font-medium mr-2">Dev</span>
						<span class="font-medium">HQ</span>
					</span>
				</a>
			</h2>
		</div>
		<h2 class="text-center font-medium text-gray-500 my-4">Welcome to the WebDev HQ API Service</h2>
		<h3 class="text-center font-medium mb-2">API-Url:</h3>
		<div class="text-center">
			<code class="w-[220px]">https://api.webdev-hq.com/common/v1</code>
			<button class="ml-2 hover:cursor-pointer hover:text-sky-600" id="copy-to-clipboard" title="Copy to clipboard">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
					<path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"/>
					<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
					<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
				</svg>
			</button>
			
		</div>
	</div>
</div>