<% copyrightYear = new Date().getFullYear() %>
<footer class="w-full py-5 mx-auto bg-white/30 bg-backdrpop-blur">
	<div class="container">
		<p class="mb-5 text-center text-white">
			<a href="/about" class="text-slate-200 hover:underline">About</a>
			&middot;
			<a href="/disclaimer" class="text-slate-200 hover:underline">Disclaimer</a>
		</p>
		<p class="text-center text-slate-200">All rights reserved. <a href="https://www.tobias-hopp.de/"
				class="hover:underline text-slate-200" target="_blank">Tobias Hopp</a> &copy; <%= copyrightYear %>.
		</p>

	</div>
</footer>
</div>