<footer class="w-full">
	{% block credits %}
	<div class="w-full bg-white py-6">
		<div class="container mx-auto">
			<p class="text-center text-slate-900">All rights reserved. <a href="https://webdev-hq.com/" class="text-slate-800 hover:text-mantis-primary" target="_blank">WebDev HQ</a> &copy; 2025.</p>
		</div>
	</div>
	{% endblock %}
</footer>