<div class="flex flex-col min-h-screen bg-blurred bg-cover">
	<header class="bg-white/30 bg-backdrop-blur h-[60px]">
		<div class="container flex justify-between">
			<h1 class="mt-2.5 text-2xl">
				<a href="/" title="Home">
					<span class="font-normal text-slate-200 hover:text-emerald-500 font-laBelleAurore">Toby's</span>
					<span class="font-medium text-md text-slate-400 md:flex">Rest {API}</span>
				</a>
			</h1>
			<nav class="flex justify-end mt-3.5">
				<ul class="flex justify-between space-x-2">
					<li>
						<a href="/register"
							class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-fuchsia-600"
							title="Home">
							Register
						</a>
					</li>
					<li>
						<a href="/login"
							class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-sky-600"
							title="Login">
							Login
						</a>
					</li>
					<li>
						<a href="/newsletter"
							class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-sky-600"
							title="Newsletter">
							Newsletter
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>