<header class="bg-white shadow-sm">
	<div class="container mx-auto flex justify-between">
		<div class="flex justify-between">
			{% block logo %}
				{% include 'partials/logo.html.twig' %}
			{% endblock %}
			<button class="flex justify-between p-3 hover:cursor-pointer hover:text-slate-600 hover:bg-slate-200">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 mr-2 bi bi-list" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
				</svg>
				Menu
			</button>
		</div>
		{% block nav %}
			{% include 'partials/nav.html.twig' %}
		{% endblock %}
	</div>
</header>