<div class="h-56 w-96 relative border border-rose-400">
	<div class="h-full max-full bg-laptop-mask bg-cover bg-no-repeat bg-center"></div>
</div>

<div class="slider relative w-96">
	<ul class="list-slider-images">
		<li><img src="https://placehold.co/600x400" alt="Placeholder"></li>
		<li><img src="https://placehold.co/600x400" alt="Placeholder"></li>
		<li><img src="https://placehold.co/600x400" alt="Placeholder"></li>
	</ul>
	<ul class="list-slider-content">
		<p>Lorem10</p>
		<p>Lorem20</p>
		<p>Lorem30</p>
	</ul>
	<button class="btn-slider btn-prev absolute top-1/2 left-0 bg-rose-200 p-2 border rounded">Prev</button>
	<button class="btn-slider btn-next absolute top-1/2 right-0 bg-rose-200 p-2 border rounded">Next</button>
</div>







