<div class="h-56 w-96 relative">
	<div class="h-full max-full bg-laptop-mask bg-cover bg-no-repeat bg-center"></div>
	<div class="absolute top-[17px] left-[55px] bg-extension-screenshot w-[274px] h-[177px] bg-cover bg-no-repeat bg-center"></div>
</div>