<form class="space-y-3">
	<input type="text" class="w-full bg-white rounded-sm p-3" placeholder="Your Name">
	<input type="email" class="w-full bg-white rounded-sm p-3" placeholder="Your E-Mail">
	<button type="submit" class="w-full p-3 rounded-sm text-white bg-mantis-primary hover:cursor-pointer hover:bg-mantis-primary hover:text-white">Login</button>
</form>