<button class="flex flex-row gap-1 justify-between p-3 pt-4 hover:cursor-pointer hover:text-mantis-primary" id="menu-btn">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 bi bi-list" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
	</svg>
	Menu
</button>
<div class="hidden mega-menu absolute top-16 left-1 lg:left-44 border border-slate-200 w-96 lg:w-[750px] bg-white shadow-md rounded-lg p-4">
	<div class="w-full grid grid-cols-2 lg:grid-cols-4 gap-4">
		<div class="col">
			<h2 class="font-medium text-slate-900 mb-2 border-b border-slate-200 pb-2">
				{% include 'partials/utils/award.html.twig' %}
				Public
			</h2>
			<ul class="space-y-2">
				<li>
					<a href="/" class="hover:text-mantis-primary" title="Home">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Home
					</a>
				</li>
				<li>
					<a href="/docs" class="hover:text-mantis-primary" title="Docs">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Docs
					</a>
				</li>
				<li>
					<a href="/newsletter" class="hover:text-mantis-primary" title="Newsletter">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Newsletter
					</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<h2 class="font-medium text-slate-900 mb-2 border-b border-slate-200 pb-2">
				{% include 'partials/utils/arrow-through-heart.html.twig' %}
				Community
			</h2>
			<ul class="space-y-2">
				<li>
					<a href="/register" class="hover:text-mantis-primary" title="Register">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Register
					</a>
				</li>
				<li>
					<a href="/login" class="hover:text-mantis-primary" title="Login">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Login
					</a>
				</li>
				<li>
					<a href="/forgot-password" class="hover:text-mantis-primary" title="Forgot password">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Forgot password
					</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<h2 class="font-medium text-slate-900 mb-2 border-b border-slate-200 pb-2">
				{% include 'partials/utils/laptop.html.twig' %}
				Dashboard
			</h2>
			<ul class="space-y-2">
				<li>
					<a href="/dashboard" class="hover:text-mantis-primary" title="Dashboard">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Dashboard
					</a>
				</li>
				<li>
					<a href="/settings" class="hover:text-mantis-primary" title="Settings">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Settings
					</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<h2 class="font-medium text-slate-900 mb-2 border-b border-slate-200 pb-2">
				{% include 'partials/utils/feather.html.twig' %}
				Legal
			</h2>
			<ul class="space-y-2">
				<li>
					<a href="/terms-of-use" class="hover:text-mantis-primary" title="Terms of Use">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Terms of Use
					</a>
				</li>
				<li>
					<a href="/terms-of-privacy" class="hover:text-mantis-primary" title="Terms of Privacy">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Terms of Privacy
					</a>
				</li>
				<li>
					<a href="/cookie-information" class="hover:text-mantis-primary" title="Cookie Information">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Cookie Information
					</a>
				</li>
				<li>
					<a href="/disclaimer" class="hover:text-mantis-primary" title="Disclaimer">
						{% include 'partials/utils/chevron-compact-right.html.twig' %}
						Disclaimer
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>