<nav class="flex justify-end mt-3.5">
	<ul class="flex justify-between space-x-2">
		<li>
			<a href="/register" class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-fuchsia-600" title="Home"> Register </a>
		</li>
		<li>
			<a href="/login" class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-sky-600" title="Login"> Login </a>
		</li>
		<li>
			<a href="/newsletter" class="flex justify-between p-1 px-4 space-x-3 text-white border rounded-md hover:text-sky-600" title="Newsletter"> Newsletter </a>
		</li>
	</ul>
</nav>
