<aside class="w-64 px-4 py-2 hidden md:block">
	<h2 class="text-2xl mb-6">Navigation</h2>
	<ul class="space-y-1">
		<li>
			<a href="/dashboard" title="Dashboard" class="flex flex-row gap-2 hover:bg-slate-100 w-full p-1 rounded">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 bi bi-chevron-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
					</svg>
				</span>
				<span>
					Dashboard
				</span>
			</a>
			<a href="/links" title="Links" class="flex flex-row gap-2 hover:bg-slate-100 w-full p-1 rounded">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 bi bi-chevron-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
					</svg>
				</span>
				<span>
					Links
				</span>
			</a>
		</li>
	</ul>
</aside>