{% block content %}
<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-[680px] mx-auto">

    <div class="bg-white/30 backdrop-blur rounded p-2">
        <div class="bg-white rounded py-6 md:py-12 px-12">
            {% include 'partials/layout/logo.twig' with {
                'classes': ['text-2xl', 'mb-8', 'w-[172px]', 'mx-auto']
            }
            %}
                
            {{ end }}
            <h2 class="text-2xl font-medium text-slate-800 mt-6 mb-2"><span class="text-slate-500">{ </span><span>API</span><span class="text-slate-500"> }</span> Service</h2>
            <p class="text-lg text-slate-500">This API provides access &shy;to various <br>features and functionalities &shy;of the WebDev HQ platform.</p>
            <div class="flex justify-center space-x-3 mt-4 md:mt-8 lg:mt-8">
                {% if user %}
                    <a href="/dashboard" class="flex justify-between px-3 py-2 text-mantis-primary border border-mantis-primary hover:bg-mantis-primary-hover hover:text-white rounded-sm">Dashboard</a>
                {% else %}
                    <a href="/auth/register" class="flex justify-between px-3 py-2 text-slate-900 border border-slate-300 hover:bg-slate-200 rounded-sm" title="Register">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 mr-2 bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                            </svg>
                        </span>
                        <span>
                            Register
                        </span>
                    </a>
                    <a href="/auth/login" class="flex justify-between px-3 py-2 text-white bg-mantis-primary hover:bg-mantis-primary-hover hover:text-slate-200 rounded-sm">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-1 mr-2 bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
                            </svg>
                        </span>
                        <span>
                            Login
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}