{% if user %}
    <div class="context-menu">
        <div class="context-menu__content">
            <ul class="context-menu__list">
                <li class="context-menu__item">
                    <a class="context-menu__link" href="#" id="edit-link-{{ link.id }}">
                        Edit
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
                        