<html lang="en">

	<head>
		<title>Reset your password &middot; WebDev HQ</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="body">
		<div class="preheader" style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">Click the link below to confirm your
			subscribtion.
		</div>
		<h1>Hi, {{username}} Reset your password here <a href="#">Reset Password.</a></h1>
	</body>

</html>