{# base.html.twig #}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}WebDev HQ API{% endblock %}</title>
	{% block favicons %}
	{# favicons new #}
	<link rel="icon" type="image/png" href="./favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="WebDev HQ" />
	<link rel="manifest" href="/site.webmanifest" />
	{# favicons old #}
	<link rel="apple-touch-icon" sizes="152x152" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./site.webmanifest">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta name="keywords" content="WebDev HQ - a webdevelopers daily web extension">
	<meta name="description" content="WebAPI of WebDev HQ">
	<meta name="language" content="En-us">
	<meta name="robots" content="index, nofollow">
	<meta name="author" content="WebDev HQ, admin@webdev-hq.com">
	<meta name="designer" content="Tobias Hopp">
	<meta name="reply-to" content="mail@tobias-hopp.de">
	<meta name="coverage" content="Worldwide">
	<meta name="distribution" content="Global">
	<meta name="rating" content="General">
	<meta name="revisit-after" content="30 days">
	<meta name="subtitle" content="WebDev HQ Rest-API">
	<meta name="target" content="all">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	{% endblock %}
	{% block stylesheet %}
	<link rel="stylesheet" href="./assets/css/style.min.css" />
	{% endblock %}
	{% block head_inline_css %}
	<style id="custom-fonts-css">
		@font-face {
			font-family: "La Belle Aurore";
			src: url("./assets/fonts/La-Belle-Aurore/LaBelleAurore-Regular.ttf");
		}

		@font-face {
			font-family: "Poppins Black";
			src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
		}

		@font-face {
			font-family: "Poppins Black Italic";
			src: url("./assets/fonts/Poppins/Poppins-BlackItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Bold";
			src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
		}

		@font-face {
			font-family: "Poppins Bold Italic";
			src: url("./assets/fonts/Poppins/Poppins-BoldItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Extra Bold";
			src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
		}

		@font-face {
			font-family: "Poppins Extra BoldItalic";
			src: url("./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Extra Light";
			src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
		}

		@font-face {
			font-family: "Poppins Extra LightItalic";
			src: url("./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Italic";
			src: url("./assets/fonts/Poppins/Poppins-Italic.ttf");
		}

		@font-face {
			font-family: "Poppins Regular";
			src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
		}

		@font-face {
			font-family: "Poppins Bold";
			src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
		}

		@font-face {
			font-family: "Poppins Medium";
			src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
		}

		@font-face {
			font-family: "Poppins Italic";
			src: url("./assets/fonts/Poppins/Poppins-Italic.ttf");
		}

		@font-face {
			font-family: "Poppins Light";
			src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
		}

		@font-face {
			font-family: "Poppins LightItalic";
			src: url("./assets/fonts/Poppins/Poppins-LightItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Medium Italic";
			src: url("./assets/fonts/Poppins/Poppins-MediumItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Regular";
			src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
		}

		@font-face {
			font-family: "Poppins Semi Bold";
			src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
		}

		@font-face {
			font-family: "Poppins Semi BoldItalic";
			src: url("./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
		}

		@font-face {
			font-family: "Poppins Thin";
			src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
		}

		@font-face {
			font-family: "Poppins Thin Italic";
			src: url("./assets/fonts/Poppins/Poppins-ThinItalic.ttf");
		}

	</style>
	{% endblock %}
</head>
{% endblock %}
<body id="top" class="font-poppins">
{% block after_body %}
<div class="flex flex-col min-h-screen bg-slate-100">
	{% block before_header %}{% endblock %}
	{% block header %}
	<header class="bg-white shadow-sm h-[60px]">
		<div class="container flex justify-between">
			{% block logo %}
				{% include 'partials/logo.html' %}
			{% endblock %}
			{% block logo %}
				{% include 'partials/nav.html' %}
			{% endblock %}
		</div>
	</header>
	{% endblock %}
	{% block after_header %}{% endblock %}
	{% block main %}
    <main>
		{% block before_content %}{% endblock %}
        {% block content %}Main Content{% endblock %}
		{% block after_content %}{% endblock %}
    </main>
	{% endblock %}
	{% block before_footer %}{% endblock %}
	{% block footer %}
    <footer class="w-full py-5 mx-auto bg-sky-600">
        <div class="container">
            <p class="mb-5 text-center text-white">
                <a href="/about" class="text-slate-200 hover:underline">About</a>
                &middot;
                <a href="/disclaimer" class="text-slate-200 hover:underline">Disclaimer</a>
            </p>
			{% block credits %}
            <p class="text-center text-slate-200">All rights reserved. <a href="https://www.tobias-hopp.de/"
                    class="hover:underline text-slate-200" target="_blank">WebDev HQ</a> &copy; 2025.
            </p>
			{% endblock %}
        </div>
    </footer>
	{% endblock %}
	{% block after_footer %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
<script src="./assets/js/scripts.min.js" type="module"></script>
{% endblock %}
</body>
</html>