{% if currentPath|length > 1 or user %}
<div class="w-full">
	<div class="container mx-auto">
		<nav class="py-4 px-3 sm:px-0 mt-2">
			<ul class="flex justify-start text-xs space-x-3">
				<li>
					<a href="/" class="hover:text-mantis-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline-block -mt-1 mr-2 bi bi-house" viewBox="0 0 16 16">
							<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
						</svg>
						Home
					</a>
				</li>
				{% set url = '' %}
				{% for segment in pathSegments %}
					{% set url = url ~ '/' ~ segment %}
					<li class="text-slate-800">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline-flex -mt-1 bi bi-chevron-compact-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
						</svg>
					</li>
					<li>
						{% if not loop.last %}
							<a href="{{ url }}" class="text-blue-500 hover:underline">{{ segment|replace({'-': ' '})|capitalize }}</a>
						{% else %}
							<span class="text-gray-800 cursor-default">{{ segment|replace({'-': ' '})|capitalize }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% endif %}
