
<h1 class="{{ classes|join(' ') }}">
	<a href="/" class="flex justify-between md:space-x-1 lg:space-x-2">
		<img src="{{ asset('./favicon/favicon.svg')	}}" width="32" height="32" alt="WebDev HQ Logo" />
		<div class="font-light hidden sm:flex" id="logo-text">
			<span class="web">Web</span>
			<span class="font-medium mr-2">Dev</span>
			<span class="font-medium">HQ</span>
		</div>
	</a>
</h1>