<h1 class="{{ classes|join(' ') }}">
	<a href="/" class="group flex justify-between md:space-x-1 lg:space-x-2" title="WebDev HQ">
		<img src="{{ asset('./favicon/favicon.svg')	}}" class="group-hover:opacity-80" width="32" height="32" alt="WebDev HQ Logo" />
		<div class="font-light hidden sm:flex group-hover:text-slate-500" id="logo-text">
			<span class="web">Web</span>
			<span class="font-medium mr-2">Dev</span>
			<span class="font-medium">HQ</span>
		</div>
	</a>
</h1>