{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}About &middot; WebDev HQ API{% endblock %}

{% block content %}
    <p>This is the about page of the Rest-Api.</p>
{% endblock %}