{% extends "base.html.twig" %}

{% block title %}About &middot; WebDev HQ API{% endblock %}

{% block content %}
	<h2 class="text-3xl font-medium mb-6">About</h2>
	<p>About this API.</p>
{% endblock %}