{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Cookie Information &middot; WebDev HQ API{% endblock %}

{% block content %}
	<h2 class="text-4xl font-medium">Cookie Information</h2>
{% endblock %}
