{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Cookie Information &middot; WebDev HQ API{% endblock %}

{% block content %}
	<h2 class="text-3xl font-medium mb-6">Cookie Information</h2>
	<p>This website uses cookies to improve the user experience. Cookies are small text files that are stored on your device and enable us to analyze your behavior on the website and optimize the use of the site.</p>
	<h3 class="text-2xl font-medium my-6">What cookies are used?</h3>
	<p>Necessary Cookies: These cookies are essential for the proper functioning of the website and enable basic features such as page navigation and access to secure areas of the site.</p>
	<p>Performance Cookies: These cookies collect information about how visitors use the website, e.g., which pages are visited most often. They are used exclusively to improve the website.</p>
	<p>Functional Cookies: These cookies allow the website to remember your selected preferences (e.g., language settings).</p>
	<h3 class="text-2xl font-medium my-6">How can cookies be disabled?</h3>
	<p>You can disable cookies in your browser settings. However, please note that the functionality of the website may be limited if you do so.</p>
	<p>For more information, please refer to our <a href="/terms-of-privacy" class="text-mantis-primary hover:text-manits-primary-hover" title="Terms of Privacy">Terms of Privacy</a>.</p>
{% endblock %}
