{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Dashboard &middot; WebDev HQ API{% endblock %}

{% block content %}
	<h2 class="text-3xl font-medium pb-3 mb-3 border-b border-slate-200">Dashboard</h2>
	<p>Hi {{ user.username }}, welcome to the super secret dashboard.</p>
{% endblock %}