{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Dashboard &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto py-3">
	<div class="flex justify-between gap-3">
		<aside class="w-64 bg-white px-4 py-2 rounded-sm shadow-sm">
			<h2 class="text-2xl mb-3">Navigation</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</aside>
		<section class="flex-1">
			<p>Content all over the place.</p>
		</section>
	</div>
</main>
{% endblock %}