{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Disclaimer &middot; WebDev HQ API{% endblock %}

{% block content %}
    <h2 class="text-4xl font-medium">Disclaimer</h2>
{% endblock %}