{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ API{% endblock %}

{% block before_header %}
    <h1 class="text-center text-4xl">asdasdasdasdas BLALALALALALA</h1>
{% endblock %}

{% block content %}
    <h1 class="text-center text-4xl">Disclaimer</h1>
{% endblock %}