{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Forgot Password &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto flex flex-col justify-center align-center">
    {% include 'partials/forms/forgot-password-form.html.twig' %}
</main>
{% endblock %}