{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Forgot Password &middot; WebDev HQ API{% endblock %}

{% block content %}
    <h2 class="text-4xl font-medium">Forgot Password</h2>
{% endblock %}