{# child.html.twig #}
{% extends "base.html.twig" %}

{% block main %}
	<main class="container mx-auto flex flex-col justify-center h-96">
        {% block content %}
			<h2 class="text-5xl text-center">WebDev HQ {API}</h2>
		{% endblock %}
    </main>
{% endblock %}