{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ &middot; API-Service{% endblock %}

{% block content %}
<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-[680px] mx-auto">
	{% include 'partials/laptop.twig' %}
	<h1 class="text-5xl font-bold my-4">WebDev HQ Chrome-Extension</h1>
	<p>Welcome to the WebDev HQ API service. This API provides access to various features and functionalities of the WebDev HQ platform.</p>
</div>
{% endblock %}

