{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ &middot; API-Service{% endblock %}

{% block content %}
<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-[680px] mx-auto">
	{% include 'partials/laptop.twig' %}
	{% include 'partials/layout/logo.twig' %}
	
	<h2 class="text-3xl font-medium mt-12 mb-4">Chrome-Extension</h2>
	<p class="text-lg text-slate-500">Welcome to the WebDev HQ API service.</p>
	<p class="text-lg text-slate-500">This API provides access to various features and functionalities <br />of the WebDev HQ platform.</p>
	<div class="flex justify-center space-x-3 mt-3">
		<a href="/auth/register" class="flex justify-between px-3 py-2 text-slate-800 border border-slate-200 hover:bg-slate-200 rounded-sm">Register</a>
		<a href="/auth/login" class="flex justify-between px-3 py-2 text-white bg-mantis-primary border border-slate-200 hover:bg-slate-200 rounded-sm">Login</a>
	</div>
</div>
{% endblock %}

