{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ &middot; API-Service{% endblock %}
{% if not user %}
	{% block content %}
		{% include '../partials/welcome.block.twig' %}
	{% endblock %}
{% else %}
	{% block content %}
	<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
		<div class="bg-white p-4 rounded">
			<div class="flex justify-between gap-6">
				{% block sidebar %}
					{% include 'partials/sidebar.twig' with { apps } %}
				{% endblock %}
				<section class="flex-1 px-4 py-2 min-h-[500px]">
					<h2 class="text-xl font-medium text-slate-800 mb-6">Welcome, {{ user.username }}</h2>
					<div class="flex flex-row gap-4 justify-start">
						{% for navLink in navLinks %}
							{% include 'partials/link-card.twig' %}
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
	{% endblock %}
{% endif %}
{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.net.min.js"></script>
<script>
    VANTA.NET({
        el: "#top",
        mouseControls: false,
        touchControls: false,
        gyroControls: false,
        minHeight: 100.00,
        minWidth: 100.00,
        color: 0xfaaff,
        backgroundColor: 0xf1f5f9,
        scale: 0.5,
        scaleMobile: 0.5
    })
</script>
{% endblock %}