{# child.html.twig #}
{% extends "base.html.twig" %}

{% block main %}
	<main class="container mx-auto flex-1 mt-4 p-4 mb-4 bg-white shadow-sm rounded-sm">
        {% block content %}Main Content{% endblock %}
    </main>
{% endblock %}