{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ &middot; API-Service{% endblock %}

{% block content %}
	<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-96 mx-auto">
		{% include 'partials/layout/extension-intro.twig' %}
		
	</div>
{% endblock %}

