{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ &middot; API-Service{% endblock %}

{% block content %}
	<div class="h-full flex flex-col items-center justify-center text-center text-slate-800 lg:max-w-96 mx-auto">
		<h1 class="text-4xl font-bold mb-4">Chrome-Extension API</h1>
		<p>Welcome to the WebDev HQ API service. This API provides access to various features and functionalities of the WebDev HQ platform.</p>
	</div>
{% endblock %}

