{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}WebDev HQ API{% endblock %}

{% block header %}Welcome to My Page{% endblock %}

{% block content %}
    <p>This is my custom content.</p>
{% endblock %}
