{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Links &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
	<div class="bg-white p-4 rounded">
		<div class="flex justify-between gap-6 min-h-[500px]">
			{% block sidebar %}
				{% include 'partials/sidebar.twig' %}
			{% endblock %}
			<section class="flex-1 px-4 py-2">
				<div class="flex justify-between mb-4">
					<h2 class="text-2xl mb-3">Links</h2>
					<button id="modal-open" class="modal-open bg-mantis-primary text-white p-2 mb-3 hover:cursor-pointer rounded hover:bg-mantis-primary-hover w-32">New link</button>
				</div>
				<hr class="my-6 border-gray-200" />
				<ul class="links w-full flex flex-col justify-between space-y-2"></ul>
			</section>
		</div>
	</div>
</div>
{% endblock %}