{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Login &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto flex-1 justify-center align-center">
    {% include 'partials/forms/login-form.twig' %}
</main>
{% endblock %}
