{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Newsletter &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto flex flex-col justify-center align-center">
	{% block content %}
	<div class="flex-1">
    	{% include 'partials/forms/newsletter-form.twig' %}
	</div>
	{% endblock %}
</main>
{% endblock %}