{% extends "base.html.twig" %}

{% block title %}Newsletter &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto flex-1 justify-center align-center">
    {% include 'partials/forms/newsletter-form.twig' %}
</main>
{% endblock %}