{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Confirm your subscribtion &middot; WebDev HQ API{% endblock %}

{% block main %}
<main class="container mx-auto flex flex-col justify-center align-center">
    <div class="max-w-96 mx-auto p-2 rounded bg-green-200 text-slate-800"><p>Newsletter subscribtion confirmed. <a href="/" target="_self">Back to home</a></p></div>
</main>
{% endblock %}