{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Posts &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
	<div class="bg-white p-4 rounded">
		<div class="flex justify-between gap-6 min-h-[500px]">
			{% block sidebar %}
				{% include 'partials/sidebar.twig' %}
			{% endblock %}
			<section class="flex-1 px-4 py-2">
				<h2 class="text-2xl mb-3">Posts</h2>
				<form class="space-y-3">
					<input type="text" name="title" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="e-mail" placeholder="Title">
					<textarea type="password" name="content" rows="6" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Content"></textarea>
					<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">New Post</button>
				</form>
			</section>
		</div>
	</div>
</div>
{% endblock %}