{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Register &middot; WebDev HQ API{% endblock %}

{% block content %}
	<h2 class="text-4xl font-medium">Register</h2>
{% endblock %}
