{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Terms of Privacy &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
	<div class="bg-white p-4 rounded">
		<h2 class="text-xl font-medium text-slate-800 mb-6">Terms of Privacy</h2>
		<p>We take the protection of your personal data very seriously. This privacy policy explains how we collect, process, and store your personal data when you visit our website or use our services.</p>
		<h3 class="text-3xl font-medium my-6">What data is collected?</h3>
		<p>Personal Data: We collect personal data such as name, email address, and other voluntarily provided information when you contact us or sign up for a service, e.g. this API-service.</p>
		<p>Automatically Collected Data: When you visit our website, data such as your IP address, the browser you are using, and the pages visited are automatically stored. This data is used solely for improving our website and analyzing user behavior.</p>	
		<h3 class="text-3xl font-medium my-6">How is your data used?</h3>
		<p>We use your personal data solely for the following purposes:</p>
		<ul class="list-disc ml-5 my-5">
			<li>Providing and improving the website and its services</li>
			<li>Responding to inquiries or feedback</li>
			<li>Communicating about services and offers</li>
			<li>Data Sharing with Third Parties</li>
		</ul>
		<p>We do not share your personal data with third parties unless required by law or necessary to provide services.</p>
		<h3 class="text-3xl font-medium my-6">Your Rights</h3>
		<p>You have the right to access your stored personal data, correct or delete it, and object to its processing. If you have any questions regarding your personal data or wish to exercise your rights, feel free to contact us at any time.</p>
		<p>For more details on how we handle your data, please file a request under admin@webdev-hq.com.</p>
	</div>
</div>
{% endblock %}