<div id="path-debugger">
	<div class="container mx-auto p-2 my-3 bg-rose-100 rounded-lg">
		<h2 class="text-lg font-semibold mb-2">Path Debugger</h2>
		<ul>
			<li>Pfad: {{ currentPath }}</li>
			<li>Segments: {{ pathSegments|join(' / ') }}</li>
		</ul>
	</div>
</div>