<form class="space-y-3" method="POST" action="/common/v1/links" id="link-form">
	<input type="text" name="userId" class="w-full bg-slate-200 rounded-sm p-3" hidden value="{{ user.id }}">
	<input type="text" name="title" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Title">
	<textarea name="description" rows="3" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Description"></textarea>
	<input type="text" name="url" class="w-full bg-slate-200 rounded-sm p-3" placeholder="https://...">
	<button type="submit" class="w-full flex justify-center items-center gap-2 p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
			</svg>
		</span>
		<span class="flex" id="create-link-btn-text">
			New link
		</span>
		<span class="hidden" id="update-link-btn-text">
			Update link
		</span>
	</button>
</form>