<div class="mx-auto w-[280px] md:w-[360px] lg:w-[420px] text-center bg-white m-4 p-4 md:p-8 lg:p-12 shadow-md rounded-md">
	<div class="w-36 mx-auto md-2 lg:mb-4">
		{% include 'partials/logo.html.twig' %}
	</div>
	<h2 class="font-medium text-2xl mb-2">Login</h2>
	<h3 class="font-light text-xl text-slate-400 mb-4 md:mb-8 lg:mb-12">Welcome back.</h3>
	<div id="message-box" class="text-left block w-full h-[48px] p-3 rounded-md mb-3"></div>
	<form class="space-y-3">
		<input type="email" name="email" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="e-mail" placeholder="E-mail">
		<input type="password" name="password" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="current-password" placeholder="Password">
		<!-- <div class="p-4">
			<input type="checkbox" name="remember-me" id="remember-me" class="mt-1.5 mr-1" />
			<label for="remember-me">Keep me logged in</label>
		</div> -->
		<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">Login</button>
	</form>
	<p>Don't have an account? <a href="/register" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Register">Register</a>.</p>
	<a href="/forgot-password" class="inline-block mt-4 hover:text-mantis-primary text-sm text-slate-500" title="Forgot your password">Forgot your password?</a>
</div>