<div id="message-box" class="w-full rounded-sm p-3 mb-3 h-12"></div>
<form class="space-y-3" method="POST" action="/common/v1/links/new">
	<input type="text" name="userId" class="w-full bg-slate-200 rounded-sm p-3" hidden value="{{ user.userId }}">
	<input type="text" name="title" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Title">
	<textarea name="description" rows="6" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Description"></textarea>
	<input type="text" name="url" class="w-full bg-slate-200 rounded-sm p-3" placeholder="https://...">
	<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">New Link</button>
</form>