<div class="mx-auto w-[280px] md:w-[320px] lg:w-[380px] text-center bg-white m-4 p-2 bg-white/30 backdrop-blur rounded-sm">
	<div class="bg-white rounded-md p-8">
		<div class="w-36 mx-auto md-2 lg:mb-4">
			{% include 'partials/layout/logo.twig' %}
		</div>
		<h2 class="font-medium text-2xl mb-2">Newsletter</h2>
		<h3 class="font-light text-xl text-slate-400 mb-4 md:mb-8 lg:mb-12">Stay informed.</h3>
		<div id="message-box" class="text-left block w-full h-[48px] p-3 rounded-md mb-3 text-slate-600"></div>
		<form class="space-y-3">
			<input type="text" name="name" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Your Name">
			<input type="email" name="email" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Your E-Mail">
			<div class="p-4">
				<input type="checkbox" name="agreed-to-subscription" id="agreed-to-subscription" class="mt-1.5 mr-1" />
				<label for="agreed-to-subscription">I agree to the <a href="/terms-of-use" class="text-mantis-primary hover:text-mantis-primary-hover" target="_blank" title="I agree to the Terms of Use">Terms of Use</a>.</label>
			</div>
			<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">Subscribe now</button>
		</form>
		<p>Want an account? <a href="/auth/register" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Register">Register</a>.</p>
		<p>Already have an account? <a href="/auth/login" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Login">Login</a>.</p>
	</div>
</div>