<div class="w-100 m-4 lg:mx-auto lg:w-[420px] text-center bg-white p-12 shadow-md rounded-md">
	<div class="w-42 mx-auto mb-4">
		{% include 'partials/logo.html.twig' %}
	</div>
	<h2 class="font-medium text-2xl mb-2">Newsletter</h2>
	<h3 class="font-light text-xl text-slate-400 mb-12">Stay informed.</h3>
	<form class="space-y-3">
		<input type="email" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Your E-Mail">
		<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">Subscribe now</button>
	</form>
	<p>Want an account? <a href="/register" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Register">Register</a>.</p>
	<p>Already have an account? <a href="/login" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Login">Login</a>.</p>
</div>