<div class="w-100 m-4 lg:mx-auto lg:w-[420px] text-center bg-white p-12 shadow-md rounded-md">
	<div class="w-42 mx-auto mb-4">
		{% include 'partials/logo.html.twig' %}
	</div>
	<h2 class="font-medium text-2xl mb-2">Register</h2>
	<h3 class="font-light text-xl text-slate-400 mb-12">Become a member.</h3>
	<form class="space-y-3">
		<input type="text" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Your Name">
		<input type="email" class="w-full bg-slate-200 rounded-sm p-3" placeholder="Your E-Mail">
		<div class="p-4">
			<input type="checkbox" id="agreed-to-terms" class="mt-1.5 mr-1" />
			<label for="agreed-to-terms">I agree to the <a href="/terms-of-use" class="text-mantis-primary hover:text-mantis-primary-hover" target="_blank" title="I agree to the terms of use">terms of use</a></label>
		</div>
		<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">Register</button>
	</form>
	<p>Already have an account? <a href="/forgot-password" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Forgot your password">Login</a>.</p>
</div>