<div class="mx-auto w-[280px] md:w-[360px] lg:w-[420px] text-center bg-white m-4 p-4 md:p-8 lg:p-12 shadow-md rounded-md">
	<div class="w-36 mx-auto md-2 lg:mb-4">
		{% include 'partials/logo.html.twig' %}
	</div>
	<h2 class="font-medium text-2xl mb-2">Register</h2>
	<h3 class="font-light text-xl text-slate-400 mb-4 md:mb-8 lg:mb-12">Become a member.</h3>
	<div id="message-box" class="text-left block w-full h-[48px] p-3 rounded-md mb-3"></div>
	<form class="space-y-3">
		<input type="text" name="username" id="username" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="new-username" placeholder="Username">
		<input type="email" name="email" id="email" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="current-email" placeholder="E-Mail">
		<input type="password" name="password" id="password" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="new-password" placeholder="Password">
		<input type="password" name="password-repeat" id="password-repeat" class="w-full bg-slate-200 rounded-sm p-3" autocomplete="password-repeat" placeholder="Password Repeat">
		<div class="p-2">
			<input type="checkbox" name="agreed-to-terms" id="agreed-to-terms" class="mt-.5 mr-1" />
			<label for="agreed-to-terms">I agree to the <a href="/terms-of-use" class="text-mantis-primary hover:text-mantis-primary-hover" target="_blank" title="I agree to the terms of use">Terms of Use</a>.</label>
		</div>
		<button type="submit" class="w-full p-3 text-white bg-mantis-primary hover:bg-mantis-primary-hover rounded-sm hover:cursor-pointer">Register</button>
	</form>
	<p class="mb-2">Already have an account? <a href="/login" class="inline-block mt-4 hover:text-mantis-primary text-slate-800" title="Forgot your password">Login</a>.</p>
</div>