{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Admin &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-1 sm:mx-0 shadow">
	<div class="bg-white p-4 rounded">
		<div class="flex justify-between gap-6">
			{% block sidebar %}
				{% include 'partials/sidebars/admin-sidebar.twig' %}
			{% endblock %}
			<div class="flex-1 px-4 py-2 min-h-[500px]">
				<h2 class="text-xl font-medium text-slate-800 mb-6">Willkommen, {{ user.username }}</h2>
				<div class="flex flex-row gap-4 justify-start">
					{% set navLinks = adminLinks %}
					{% for navLink in navLinks %}
						{% include 'partials/nav-card.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}