@font-face {
	font-family: "La Belle Aurore", cursive;
	src: url("./assets/fonts/LaBelleAurore/LaBelleAurore-Regular.ttf") format('ttf');
}

.la-belle-aurore {
	font-family: "La Belle Aurore", cursive;
}