@import "tailwindcss";

@theme {
	--color-mantis-primary: #1a90fd;
	--color-mantis-primary-hover: #1581e6;
	--color-mantis-secondary: #f1f5f9;
	--color-tahiti: #3ab7bf;
	--color-bermuda: #78dcca;
	--color-white: #ffffff;
}

.bg-pattern {
	background-image: radial-gradient(rgb(180, 180, 180) 1px, transparent 0);
	background-size: 20px 20px;
	background-position: -19px -19px;
}

.wdhq-center {
	left: 50%;
	transform: translate(-50%, 0);
}