{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Links &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-1 sm:mx-0 shadow">
	<div class="bg-white p-4 rounded">
		<div class="flex justify-between gap-6 min-h-[500px]">
			{% block sidebar %}
				{% include 'partials/admin-sidebar.twig' %}
			{% endblock %}
			<section class="flex-1 px-4 py-2">
				{% include 'partials/forms/post-form.twig' %}
			</section>
		</div>
	</div>
</div>
{% endblock %}

{# Kein Modal hier #}
